<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>
    <title>Hello, world!</title>
</head>

<body>
    <h1 class="text-primary">Hello, world!</h1>

    <%- include('../partials/scripts.ejs')%>
</body>

</html>